body,p,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,form,input,header,section{
    margin:0;
    padding:0;
    list-style:none;
    font-style: normal;
    font-weight: normal;
}
a{
    text-decoration: none;/*下划线*/
}
img{
    border: 0;
}
html,body{
    width:100%;
    height: 100%;
    overflow: hidden;
}
header{
    width:100%;
    height: 60px;
    background: #168bd8;
    position: fixed;
    left:0;top:0;
    z-index: 1;
}
.header{
    width: 1000px;
    height: 100%;
    /*background: red;*/
    position: absolute;
    left:0;right: 0;
    margin: 0 auto;
    top:0;
    display: flex;
    justify-content: space-between;

}

.header .logo{
    display: block;
    width: 120px;
    height: 40px;
    margin-top: 10px;
    background: url("../img/header_z_94c6de7.png") -2px 0px no-repeat;
    z-index:1;
    float: left;
}
.header a{
    color:#fff;
    font-size: 14px;
    line-height: 60px;
    margin-top: 10px;
}
.header .index:hover{
    color:#16D3F8;
}
.header .index2{
    font-size: 12px;
    margin-bottom: 3px;
    line-height: 70px;
}
.header a:nth-child(2){
    margin-left: 30px;
}
.header a:nth-child(5){
    margin-left:160px;
    position: relative;
}
.header .hot i{
    width: 32px;
    height: 25px;
    background: url("../img/header_z_94c6de7.png") -88px -154px no-repeat;
    position: absolute;
    right:-30px;top:10px;
}
.header a:nth-child(8){
    color: #FFDA28;
    /*flex.self*/
}
#fullpage{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
#fullpage section{
    width: 100%;
    height: 100%;
    position: relative;
}
#fullpage section:nth-child(1){
    background: url("../img/bg-0.jpg");
}
#fullpage section:nth-child(2){
    background: url("../img/bg-1.jpg");
}
#fullpage section:nth-child(3){
    background: url("../img/bg-2.jpg");
}
#fullpage section:nth-child(4){
    background: url("../img/bg-3.jpg");
}
section .top{
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
}
.bg-cloud-1{
    position: absolute;
    left:0;top:0;
    width: 100%;
    height: 100%;
    background: url("../img/cloud_1_1d4924b.png") repeat;
}
section .middle{
    position: absolute;
    left:0;
    top:50%;
    width: 100%;
    height: 100%;
}
.bg-cloud-2{
    position: absolute;
    left:0;top:-200px;
    width: 100%;
    height: 400px;
    background: url("../img/cloud_2_a186193.png") repeat;
}
section .bottom{
    position: absolute;
    left:0;
    bottom:0;
    width: 100%;
    height: 400px
}
.bg-cloud-3{
    position: absolute;
    left:0;
    bottom: 0;
    width: 100%;
    height: 400px;
    background: url("../img/cloud_3_5ee0340.png") repeat;
}
.follow-head{
    width: 100%;
    height: 126px;
    position: absolute;
    left:0;bottom: 0;
    background:url("../img/bg-1.jpg")
}
.follow-head .center{
    position: absolute;
    left:0;top:0;
    width: 100%;
    left:0;
}
.obj-hit-2{
     position: absolute;
     width: 63px;
     height: 78px;
     background: url(../img/hill_2_540422f.png);
     right: 288px;
     top: -13px;
 }
.obj-hit-3{
    position:absolute ;
    width: 260px;
    height: 175px;
    background: url(../img/hill_3_ace39fb.png);
    right: 0px;
    top: -47px;
}
.obj-hit-1{
    position: absolute;
    width: 265px;
    height: 175px;
    background: url(../img/hill_1_0d79217.png);
    left: 0px;
    top: -50px;
}
.obj-ship{
    position: absolute;
    width: 242px;
    height: 228px;
    background: url(../img/ship_1ad6734.png);
    left:308px;
    top: -191px;
}
.follow-center{
    position: absolute;
    left:0;top:50%;right: 0;
    margin: 0 auto;
    width: 1000px;
    height: 300px;
}
.form{
    position: absolute;
    height: 300px;
    width: 340px;
    border-radius: 5px;
    background: #4ebffc;
    position: absolute;
    right: 0;
    top: -198px;
}
.obj-launch{
    position: absolute;
    width: 501px;
    height: 158px;
    background: url(../img/launch_deea86c.png);
    left: 0;
    top: -210px;
}
.obj-flight {
    position: absolute;
    width: 119px;
    height: 78px;
    background: url(../img/flight_ade8ee2.png);
    left: 295px;
    top: -236px;
}
.box2{
    position: relative;
    width:1000px;
    margin: 0 auto;
    left:0;
    top:50%;

}
.title .p-ain{
    background: url(../img/h_lingxian_221f2d8.png) no-repeat;
    width: 66px;
    height: 126px;
    text-indent: -9999em;
    float: left;
    margin-top: -100px;
}
.text{
    margin-top: -100px;
    margin-left: 20px;
    float: left;
}
.text h4{
    width: 414px;
    height: 48px;
    display: block;
    font-size: 34px;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 48px;
    margin-bottom: 6px;
    color: #fff;
}
.text p{
    color:#fff;
    height: 64px;
    width: 414px;
    font-size: 19px;
    letter-spacing: 1px;
    line-height: 32px;
    opacity: .8;
}
.obj-brain {
    position: absolute;
    width: 444px;
    height: 427px;
    background: url(../img/brain_36a156f.png);
    right: 36px;
    top: -200px;

}
.box2-bottom{
    width: 100%;
    position: absolute;
    left:0;
    bottom: 0;
}
.section2-bottom-center{
    width: 1000px;
    position: absolute;
    left:0;right: 0;
    margin: 0 auto;
    bottom: 0;
}
.square1{
    position: absolute;
    bottom: 0;
    background: #35b568;
    left: 70px;
    width: 44px;
    height: 44px;
}
.square2{
    position: absolute;
    display: block;
    width: 88px;
    height: 88px;
    background: #4ac179;
    left: 158px;
    bottom: 0;
}
.square3{
    position: absolute;
    bottom: 0;
    background: #8ae75a;
    left: 246px;
    width: 44px;
    height: 44px;
}
.square4{
     position: absolute;
     bottom: 0;
    background: #8ae75a;
    right: 328px;
    width: 44px;
    height: 44px;
 }
.square5{
    position: absolute;
    bottom: 0;
    background: #4ac179;
    right: 240px;
    width: 44px;
    height: 44px;
  }
.title .p-ain1{
    background: url("../img/h_quanmian_8f813d2.png") no-repeat;
}
.obj-brain1{
    background: url("../img/allside_e8abd12.png") no-repeat;
}
.title .p-ain2{
    background: url("../img/h_zhuanye_256a94d.png") no-repeat;
}
.obj-brain2{
    background: url("../img/stat_8934528.png") no-repeat;
}
.box2-bottom{
    height: 138px;
    background: url("../img/bg-3-head_b8a3f7f.png");
}




